/* Reset some default styles */
* {
    font-family: "Exo 2", sans-serif;
}

body, h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    padding: 20px;
    text-align: center;
    flex-shrink: 0;
}

header h1 {
    font-size: 32px;
    margin-bottom: 10px;
}




main {
    flex: 1; 
    display: flex;
    flex-direction: column;
}


section {
    margin-bottom: 30px;
}

footer {
    padding: 20px;
    text-align: center;
    flex-shrink: 0; 
}

footer h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

ul {
    list-style: none;
}

ul li {
    margin-bottom: 5px;
}

.headerImg {
    background-image: url('../assets/images/dashboardbanner-xl.gif');
    background-size: cover;
    background-position: center;
    height: 256px; 
    padding: 16px; 
    color: white; 
    background-color: #1a202c; 
    display: flex;
    align-items: center;
    justify-content: center;
}







/*Media queries for banner image*/
@media (max-width: 1024px) {
    .headerImg {
        background-image: url('../assets/images/dashboardbanner-lg.gif');
    }
}

@media (max-width: 767px) {
    .headerImg {
        background-image: url('../assets/images/dashboardbanner-med.gif');
    }
}

@media (max-width: 425px) {
    .headerImg {
        background-image: url('../assets/images/dashboardbanner-smol.gif');
    }
}
